@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 255 255 255;
        --color-secondary: 40 40 40;
        --color-accent: 255 229 1;
        --color-red: 176 26 11;
        --color-green: 6 95 70;
        --color-gray: 227 225 219;
    }
}
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

:root {
    --header-height: 64px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100vw;
    overflow: overlay;
}

a {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: rgba(127, 127, 127);
    background-clip: padding-box;
    &:hover {
        background: #7f7f7f99;
        background-clip: padding-box;
    }
    &:active {
        background: #7f7f7fcc;
        background-clip: padding-box;
    }
    border: 2px solid transparent;
    border-radius: 9999px;
}
