@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 64px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(127, 127, 127);
    &:hover {
        background: rgba(127, 127, 127, 0.6);
    }
    &:active {
        background: rgba(127, 127, 127, 0.8);
    }
}
