@keyframes ldio-0m5i1demrio {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.ldio-0m5i1demrio div {
    box-sizing: border-box !important;
}
.ldio-0m5i1demrio > div {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 28px;
    left: 28px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #ffe501 transparent #ffe501 transparent;
    animation: ldio-0m5i1demrio 1s linear infinite;
}
.ldio-0m5i1demrio > div:nth-child(2) {
    border-color: transparent;
}
.ldio-0m5i1demrio > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-0m5i1demrio > div:nth-child(2) div:before,
.ldio-0m5i1demrio > div:nth-child(2) div:after {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 48px;
    background: #ffe501;
    border-radius: 50%;
    box-shadow: 0 128px 0 0 #ffe501;
}
.ldio-0m5i1demrio > div:nth-child(2) div:after {
    left: -16px;
    top: 48px;
    box-shadow: 128px 0 0 0 #ffe501;
}
.loadingio-spinner-dual-ring-qo59o73r0tl {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}
.ldio-0m5i1demrio {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-0m5i1demrio div {
    box-sizing: content-box;
}
